<br>
<div class="card mb-3">
  <div class="card-header d-flex">
    <p class="card-text text-start">Deliver to
      :<span>address</span>
    </p>
    <button type="button" class="btn btn-dark ms-auto">Change</button>
  </div>
  <div class="row g-0 d-flex">
    <div class="col-md-2 text-center" style="padding-top: 20px;">
      <img style="height: 200px;width: 200px;"
        src="https://cdn.pixabay.com/photo/2017/06/29/07/32/furniture-2453307_640.jpg" class="img-fluid rounded-start"
        alt="order image">
    </div>
    <div class="col-md-2">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <!-- <a href="" class=" card-text btn btn-link"></a>
        <a href="" class=" btn btn-link">Remove</a> -->
        <p class="card-text"><small class="text-body-secondary"><a href="" class=" btn btn-link">Remove</a></small><span
            class="sim-pointer"><a href=""><small class="card-text text-body-secondary">Save For
                Later</small></a></span></p>
      </div>

    </div>
  </div>
  <div class="card-footer text-body-secondary d-flex">
    <button type="button" class="btn btn-success ms-auto btn-lg ms-auto">Place Order</button>
  </div>
</div>